@using MillionSteps.Core
@using MillionSteps.Core.Events
@model MillionSteps.Web.Games.MomentViewModel
<section class="choices">
  @foreach (var choice in Model.Choices) {
    <form action="@Url.RouteUrl("Choose")" method="POST">
      @Html.Hidden("momentId", Model.MomentId)
      @Html.Hidden("eventName", choice.Name)
      @{
        var disabled = Model.ReadOnly && @Model.ChosenChoice == choice.Name;
        var templateName = "~/Events/Views/{0}/{1}.cshtml".FormatWith(choice.Category, choice.Name);
      }
      <div class="choice @GetClass(choice.SpokenBy)">
        <button type="submit" disabled="@disabled">@Html.Partial(templateName, Model)</button>
      </div>
    </form>
  }
</section>

@functions {
  public string GetClass(Speaker speaker)
  {
    switch (speaker) {
      case Speaker.Meta:
        return "";
      case Speaker.Narrator:
        return "narrator";
      case Speaker.Audience:
        return "audience";
      default:
        return null;
    }
  }
}
